@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700');

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

#main_contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  margin: 25px 10px 0;
  background: #d9d9d9;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 15px;
}

#main_contain > *:not(#footer) {
  align-self: center;
}

#quote_container {
  margin-top: 75px;
  height: 175px;
}

.loader {
  font-size: 75px;
  color: #89a9a2;
  text-align: center;
}

.button-section {
  text-align: center;
}

.btn {
  background-color: #89a9a2;
  border: 1px solid #89a9a2;
  padding: 30px;
  color: #e9e9e9;
  border-radius: 5px;
}

.btn:hover {
  text-decoration: none;
  color: #89a9a2;
  border-color: #89a9a2;
  background-color: transparent;
  cursor: pointer;
}

blockquote {
  border-left: 5px solid rgba(194, 194, 194, 0.74);
  padding-left: 7px;
}

blockquote > small:before {
  content: "\2013";
}

#footer {
  margin-top: 30px;
  display: flex;
}

#footer > * {
  align-self: flex-end;
}

#copy {
  flex: 2 1 auto;
}

#social_media {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
}

#social_media > a:not(:last-of-type) {
  margin-right: 2.0em;
}

#footer a {
  text-decoration: none;
  color: #89a9a2;
}

@media screen and (max-width: 500px) {
  #main_contain {
    margin: 0;
  }

  #quote_container {
    margin-top: 1.3em;
    height: 250px;
    overflow: hidden;
  }

  #footer {
    flex-direction: column;
  }

  #footer > * {
    align-self: center;
  }

  #copy {
    order: 1;
    padding-top: 15px;
  }

  .btn:hover,
  .btn:active {
    text-decoration: none;
    color: #e9e9e9;
    border-color: #89a9a2;
    background-color: #89a9a2;
  }
}
